<div *ngIf="quiz">
  <form #quizForm="ngForm">
    <div class="grid-container">
      <div class="grid-item-full-width">
        <h2>{{ quiz.title }}</h2>
      </div>

      <div class="grid-item-full-width">
        <p>{{ quiz.description }}</p>
        <p class="text-warning" *ngIf="isAlreadyAnswered()">
          You already solved this quiz
        </p>
      </div>

      <div class="grid-item-full-width">
        <mat-radio-group name="quizAnswers" class="quiz-radio-group" aria-label="Select an answer" [selected]="null"
          [(ngModel)]="selectedAnswerId">
          <mat-radio-button class="quiz-radio-button" *ngFor="let answer of quiz.answers" [value]="answer.id"
            [disabled]="isAlreadyAnswered()">
            {{answer.content}}
          </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="grid-item-cancel-btn">
        <button id="cancel-btn" class="btn btn-default btn-block" mat-dialog-close>
          Cancel
        </button>
      </div>

      <div class="grid-item-solve">
        <!-- TODO: Fix the tooltip issue -->
        <button class="btn btn-primary btn-block" id="submit-btn" [disabled]="shouldHideSolveButton()" (click)="solve()">
          Solve!
        </button>
      </div>
    </div>
  </form>
</div>
<app-spinner></app-spinner>