@import './../../../variables.scss';

.quiz-radio-group {
  display: inline-flex;
  flex-direction: column;
  word-break: break-word;
}

.quiz-radio-button {
  margin: 5px;
}

.grid-container {
  max-height: 85vh;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.grid-item-full-width {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-item-image-container {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-cancel-btn {
   grid-column: 1 / span 2;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5pt;
   margin-bottom: 20pt;
}

.grid-item-solve {
   grid-column: 3 / span 2;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 5pt;
   margin-bottom: 20pt;
}

.quiz-image-display {
  width: 100%;
  height: auto;
}

.quiz-title {
  font-size: $title-medium-font-size;
  font-weight: bold;
  word-break: break-word;
}

.quiz-description {
  word-break: break-word;
}
