<div *ngIf="quiz">
  <form #quizForm="ngForm">
    <div class="grid-container">
      <div class="grid-item-full-width">
        <h2>{{ quiz.title }}</h2>
      </div>

      <div class="grid-item-full-width">
        <p>{{ quiz.description }}</p>
        <p class="text-warning" *ngIf="isAlreadyAnswered()">
          You already solved this quiz
        </p>
      </div>

      <div class="grid-item-image-container" *ngIf="quiz.imageUrl">
        <img class="quiz-image-display" (click)="showQuiz()" src={{quiz.imageUrl}} alt="" />
      </div>

      <div *ngIf="isAlreadyAnswered()" class="grid-item-full-width">
        <div *ngIf="isUserAnswerCorrect(); else wrongAnswer">
            <p class="text-success">Your answer is correct.</p>
        </div>

        <ng-template #wrongAnswer>
          <p>Your answer: {{ getCurrentUserAnswer() }}</p>
          <p>Correct answer: {{ getCorrectAnswer() }}</p>
        </ng-template>
      </div>

      <div class="grid-item-full-width">
        <mat-radio-group name="quizAnswers" class="quiz-radio-group" aria-label="Select an answer" [selected]="null"
          [(ngModel)]="selectedAnswerId">
          <mat-radio-button class="quiz-radio-button" *ngFor="let answer of quiz.answers" [value]="answer.id"
            [disabled]="isAlreadyAnswered()">
            {{answer.content}}
          </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="grid-item-cancel-btn">
        <button id="cancel-btn" class="btn btn-default btn-block" mat-dialog-close>
          Cancel
        </button>
      </div>

      <div class="grid-item-solve">
        <button class="btn btn-primary btn-block" id="submit-btn"  (click)="handleQuizAction()">
          {{ getButtonText() }}
        </button>
      </div>
    </div>
  </form>
</div>
<app-spinner></app-spinner>