.app-side-nav-container {
  flex: 1;
  height: 100vh;
}

.app-drawer {
  background: #eee;
}

h1.app-name {
  margin-left: 8px;
}

.app-toolbar {
  display: flex;
  flex-flow: row nowrap;
}

.right-side-items {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

#username {
  margin-right: 10pt;
}

#notifications-bell {
  margin-right: 10pt;
}

#user-image {
  margin-right: 10pt;
  border-radius: 50%;
  width: 5vh;
  height: 5vh;
}
