<div>
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()" [disabled]="!this.authService.isLoggedIn()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <h1 class="app-name">RQuiz</h1>
    <div *ngIf="this.authService.isLoggedIn()" class="right-side-items">
      <ng-container *ngIf="currentUser">
          <img id="user-image" src={{getUserImageUrl()}} alt="User image">
          <div id="username">{{ currentUser.username }}</div>
      </ng-container>
      <mat-icon id="notifications-bell" svgIcon="bell"
        [matBadge]="myNotificationsCount" matBadgeColor="warn" (click)="openUserNotificationsListDialog()"></mat-icon>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="app-side-nav-container mat-app-background">
    <mat-sidenav #snav [mode]="'side'" [(opened)]="drawerOpened" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="goToPage('home')">{{ appPages.get('home') }}</a>

        <a mat-list-item (click)="goToPage('profile')">{{ appPages.get('profile') }}</a>

        <a mat-list-item (click)="goToPage(appConsts.MY_QUIZ_LIST)">{{ appPages.get(appConsts.MY_QUIZ_LIST) }}</a>

        <a mat-list-item (click)="goToPage(appConsts.MY_ASSIGNED_QUIZ_LIST)">{{ appPages.get(appConsts.MY_ASSIGNED_QUIZ_LIST) }}</a>

        <a mat-list-item (click)="goToPage(appConsts.PEOPLE_LIST)">{{ appPages.get(appConsts.PEOPLE_LIST) }}</a>

        <a mat-list-item (click)="goToPage('logout')">{{ appPages.get('logout') }}</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
