<div class="container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()" [disabled]="!this.authService.isLoggedIn()">
      <mat-icon svgIcon="menu"></mat-icon>
    </button>
    <h1 class="app-name">RQuiz</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-side-nav-container mat-app-background">
    <mat-sidenav #snav [mode]="side" [(opened)]="drawerOpened" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item (click)="goToPage('home')">{{ appPages.get('home') }}</a>

        <a mat-list-item (click)="goToPage('profile')">{{ appPages.get('profile') }}</a>

        <a mat-list-item (click)="goToPage('myquizlist')">{{ appPages.get('myquizlist') }}</a>

        <a mat-list-item (click)="goToPage('my-assigned-quiz-list')">{{ appPages.get('my-assigned-quiz-list') }}</a>

        <a mat-list-item (click)="goToPage('users')">{{ appPages.get('users') }}</a>

        <a mat-list-item (click)="goToPage('logout')">{{ appPages.get('logout') }}</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>