.app-side-nav-container {
    flex: 1;
    height: 100vh;
}

.app-drawer{
  background: #eee;
}

h1.app-name {
  margin-left: 8px;
}

.app-toolbar {
  display: flex;
  flex-flow: row nowrap;
}

#notifications-bell {
  margin-left: auto;
  margin-right: 10px;
}