// Font sizes
$title-medium-font-size: 18pt;
$content-medium-font-size: 12pt;
$content-small-font-size: 10pt;
$icon-size-small: 15pt;
$rquiz-title-font-size: 32pt;

// Colors
$app-primary-color: #3f51b5;
$app-light-color: #428bca;
$wrong-answer-color: #990000;
$correct-answer-color: #206040;
$separator-line-default-color: #969696;
$image-background-color: #cde;
$quiz-background-color: #f4f4f4;

// dimensions
$margin-between-posts: 20px;