@import "~compass-mixins/lib/compass/css3";
@import './../../../variables.scss';

$size: 20vh;
$border-radius: 60px;
$margin-between-posts: 20px;
$image-background-color: #cde;
$quiz-background-color: #f4f4f4;

.quiz-item-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $margin-between-posts;
  background-color: $quiz-background-color;
  @include border-radius($border-radius);
  text-overflow: ellipsis;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
}

.img-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  background-color: $image-background-color;
  @include border-radius($border-radius);
  padding: 10px;
  background-color: $image-background-color;
}

.img-wrapper img {
  width: $size;
  @include border-radius($border-radius);
}

.action-btns-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.title {
  color: $app-light-color;
  border-bottom: 2px solid $image-background-color;
  font-size: $title-medium-font-size;
  word-break: break-all;
}

#delete-icon {
  margin-left: 10pt;
}

@media only screen and (max-width: 700px) {
  .img-wrapper img {
    width: 10vh;
    @include border-radius(40px);
  }
  
  .img-wrapper {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    @include border-radius(40px);
    padding: 5px;
  }

  .quiz-item-container {
    align-items: flex-start;
  }
}