@import './../../../../app/variables.scss';

.search-bar {
    width: 45vh;
    margin-bottom: 20pt;
}

.users-container {
    height: 70vh;
}

.no-users-found {
    font-size: $content-medium-font-size;
}

.selected-users-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 5pt;
}

.selected-users-list-item {
    margin: 5pt;
    padding: 3pt;
    background-color: $app-primary-color;
    color: white;
    border-radius: 25px;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
