@import "~compass-mixins/lib/compass/css3";
@import "./../../../variables.scss";
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$size: 150px;

#app-title {
  text-align: center;
  padding-top: 15pt;
  font-size: $rquiz-title-font-size;
  font-family: "Pacifico";
  color: $app-light-color;
  @include text-shadow(0 2px 2px darken($image-background-color, 20%));
}

.feed-end-msg {
  text-align: center;
}

.fab-add-button {
  right: 25px;
  bottom: 25px;
  position: fixed;
}
