
<h1 id="header" class="text-primary">RQuiz</h1>

<div class="container list-article">
  <div class="quiz-list-container">
    <div *ngFor="let quiz of quizList">
      <app-quiz-item [currentUserId]="currentUserId" [quiz]="quiz"></app-quiz-item>
    </div>
  </div>
</div>

<app-pageable [pagingStrategy]='pagingStrategy' (dataListChanged)="quizListChanged($event)">
</app-pageable>

<button mat-mini-fab class="fab-add-button" matTooltip="Add Quiz" color="primary"
  (click)="openCreateQuizDialog()">+</button>
<app-spinner></app-spinner>