<!-- Bootstrap -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<div class="container list-article">
  <div class="row">
    <div *ngFor="let quiz of quizList" class="col-xs-12 article-wrapper">
      <app-quiz-item [currentUserId]="currentUserId" [quiz]="quiz"></app-quiz-item>
    </div>
  </div>
</div>
<app-pageable [pagingStrategy]='pagingStrategy' 
              (dataListChanged)="quizListChanged($event)">
</app-pageable>