@import './../../../variables.scss';

#username {
    font-weight: bold;
    font-size: $content-medium-font-size;
}

.answer-content {
    font-size: $content-small-font-size;
}

.time-ago {
    margin-left: 10pt;
    font-style: italic;
    margin-bottom: 5pt;
}
