<ng-container *ngIf="user">
    <div class="profile-container">
        <div class="photo-container">
            <img alt="" src={{user.imageUrl}} class="photo">
        </div>
    </div>

    <h1 class="username">{{user.username}}</h1>
    <h2 class="email">{{user.email}}</h2>

    <div class="description">
        <div *ngIf="user.description; else noDescription">
            <p> {{user.description}}</p>
        </div>

        <ng-template #noDescription>
            <p>No description available.</p>
        </ng-template>
    </div>

    <button *ngIf="isCurrUser && isCurrUser === true" mat-mini-fab class="fab-edit-button" matTooltip="Edit details" color="primary"
        (click)="editDetails()">
        <mat-icon svgIcon="edit"></mat-icon>
    </button>
</ng-container>
