$app-color: #3f51b5;
$line-color: #969696;
$wrong-answer-color: #990000;
$correct-answer-color: #206040;

.profile {
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
  z-index: 0;
}

.photo-container {
  margin: 25px;
}

.profile-container {
  margin: 25px;
}

.photo {
  width: 35vh;
  height: 35vh;
  border: $app-color 3px solid;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.username,
.email,
.about,
.wrong-answers-count,
.correct-answers-count {
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 1px;
}

.username {
  font-size: 20pt;
  margin: 2px;
  color: $app-color;
}

.email {
  font-size: 14pt;
}

.wrong-answers-count {
  font-size: 12pt;
  color: $wrong-answer-color;
}

.correct-answers-count {
  font-size: 12pt;
  color: $correct-answer-color;
}

.about {
  border-top: $line-color solid 1px;
  padding: 10px;
  font-size: 11pt;
  margin: 5px;
  margin-left: 30px;
  margin-right: 30px;
}

.fab-edit-button {
    right: 25px;
    bottom: 25px;
    position: fixed;
    box-shadow: 5px 10px;
  }

