<div class="centered-form-container">
        <form *ngIf="loginForm" [formGroup]="loginForm" class="centered-form-item" #f="ngForm" (ngSubmit)="signIn(f.value)">

                <h2 class="centered-form-heading">Please sign in</h2>

                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" [style.border]="getInputBorderStyle(username)" name="username"
                        formControlName="username" class="form-control" placeholder="Username" required autofocus>
                <div *ngIf="isInputValidationFailed(username)" class="validation-err-container">
                        <div *ngIf="username.errors.required">Username is required</div>
                </div>

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" [style.border]="getInputBorderStyle(password)" name="password" class="form-control"
                        formControlName="password" placeholder="Password">
                <div *ngIf="isInputValidationFailed(password)" class="validation-err-container">
                        <div *ngIf="password.errors.required">Password is required</div>
                </div>

                <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.
                </div>
                <button id="signin-button" class="btn btn-lg btn-primary btn-block" [disabled]="!f.valid" type="submit">Sign in
                </button>
        </form>
        <div class="centered-form-item">Not a member? &nbsp;<a [routerLink]="['/register']" routerLinkActive="active">register</a></div>
</div>