@import './../../../variables.scss';

.header {
  text-align: center;
}

.add-input-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row nowrap;
}

.add-input-container input {
  flex-grow: 8;
}

.add-input-container button {
  flex-grow: 2;
  margin: 5px;
}

mat-icon {
  font-size: $icon-size-small;
}

.quiz-answer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.action-btn {
  width: 10%;
}

.answers-list-title {
  font-size: $content-medium-font-size;
  font-weight: bold;
}

.answer-content {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

.grid-item-full-width {
  grid-column-start: 1;
  grid-column-end: 5;
}

.grid-item-cancel-btn {
  grid-column: 1 / span 2;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10pt;
}

.grid-item-add-quiz {
  grid-column: 3 / span 2;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10pt;
}

.quiz-answers-list {
  max-height: 25vh;
  overflow: auto;
}

#checkboxes-container {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

#checkboxes-container * {
  margin: 8pt;
}
