#cancel-btn {
  float: left;
}

#add-quiz-btn {
  float: right;
}

.header {
  text-align: center;
}

.add-input-container input {
  width: 80%;
  padding: 5px;
}

.add-input-container span {
  width: 20%;
}

.mat-icon {
  font-size: 5px;
}

.quiz-answer-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}

.action-btn {
  width: 10%;
}

.answer-content {
  width: 80%;
}

form {
  overflow-y: scroll;
  height: 80vh;
}
