<div class="centered-form-container">
        <form class="centered-form-item"  [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <h2 class="centered-form-heading">Register</h2>
                <div class="form-group">
                        <input type="text" formControlName="username" class="form-control" placeholder="Username"
                                [style.border]="getInputBorderStyle(form.username)" />
                        <div *ngIf="isInputValidationFailed(form.username)" class="validation-err-container">
                                <div *ngIf="form.username.errors.required">Username is required</div>
                        </div>
                </div>
                <div class="form-group">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email"
                                [style.border]="getInputBorderStyle(form.email)" />
                        <div *ngIf="isInputValidationFailed(form.email)" class="validation-err-container">
                                <div *ngIf="form.email.errors.required">Email is required</div>
                                <div *ngIf="form.email.errors.email">Email must be a valid email address</div>
                        </div>
                </div>
                <div class="form-group">
                        <input id="password" type="password" formControlName="password" placeholder="Password"
                                class="form-control" [style.border]="getInputBorderStyle(form.password)" />
                        <div *ngIf="isInputValidationFailed(form.password)" class="validation-err-container">
                                <div *ngIf="form.password.errors.required">Password is required</div>
                                <div *ngIf="form.password.errors.minlength">Password must be at least
                                        {{ form.password.errors.minlength.requiredLength }} characters</div>
                        </div>
                </div>
                <div class="form-group">
                        <input id="confirmPassword" type="password" [style.border]="setInputBorderStyleInvalid(!passwordsMatch(registerForm))"
                                placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" />
                        <div *ngIf="!passwordsMatch(registerForm)" class="validation-err-container">
                                Passwords do not match
                        </div>
                </div>
                <div class="form-group">
                        <button [disabled]="isRegisterButtonDisabled()" class="btn btn-primary">Register</button>

                        <a (click)="cancelRegister()" class="btn btn-link">Cancel</a>
                </div>
        </form>
</div>
<app-spinner></app-spinner>
