/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$app-background: white !important;

body {
  background-color: $app-background;
}

.secondary-Bbtton {
  border-radius: 10px;
  border: 1px solid #3f51b5;
}

.validation-err-container {
  height: auto;
  color: red;
  padding-left: 5px;
}

.centered-form-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}

.centered-form-item {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 20pt;
  text-align: center;
}

.centered-form-item * {
  margin: 5pt;
}

#signin-button {
  margin-top: 20pt;
}

.centered-form-heading {
  font-size: 20pt;
}

.form-button {
  margin: 5px;
}

.quiz-list-container {
  display: flex;
  flex-flow: row nowrap;
}