/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './app/variables.scss';

$app-background: white !important;

body {
  background-color: $app-background;
  font-size: $content-medium-font-size;
}

.secondary-Bbtton {
  border-radius: 10px;
  border: 1px solid $app-primary-color;
}

.validation-err-container {
  height: auto;
  color: red;
  padding-left: 5px;
}

.centered-form-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}

.centered-form-item {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 20pt;
  text-align: center;
}

.centered-form-item * {
  margin: 5pt;
}

#signin-button {
  margin-top: 20pt;
}

.centered-form-heading {
  font-size: $title-medium-font-size;
}

.form-button {
  margin: 5px;
}

.quiz-list-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 10pt;
}

.quiz-list-item {
  width: 90%;
}

.page-title-medium {
  font-size: $content-medium-font-size;
  margin: 5pt;
  margin-left: 15pt;
  font-weight: bold;
}

.mat-radio-label {
  // In order to enable "break word" in 'mat-radio-button'
  white-space: normal !important;
}
