/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$app-background: white !important;

body {
  background-color: $app-background;
}

.secondary-Bbtton {
  border-radius: 10px;
  border: 1px solid #3f51b5;
}

.validation-err-container {
  height: auto;
  color: red;
  padding-left: 5px;
}

.centered-form-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  min-width: 100vh;
  padding-bottom: 30px;
}

.centered-form-container * {
  margin: 10px;
}

.form-button {
  margin: 5px;
}